h1, h2, h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
    font-weight: bold;
}

h1 a {
  color: steelblue;
  font-size: 48px;
}

h1 a:hover {
    color: skyblue;
}

h1 a:visited {
    color: royalblue;
}

h2 {
  color: skyblue;
  font-size: 30px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 18px;
  background-color: beige;
  color: darkslategrey;
}

a {
  color: steelblue;
}

a:hover {
  color: skyblue;
}

a:visited {
  color: royalblue;
}

ul {
  list-style-type: none;
  padding-left: 18px; 
}

ul li {
  margin-bottom: 15px;
}

ul li::before {
  content: "\25C6";
  margin-right: 8px; 
  color: steelblue; 
}
